<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <connectionStrings>
    <add name="default" connectionString="Server=127.0.0.1;Database=kiji;Uid=root;Pwd=root;" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <appSettings>
    <add key="BaseUrl" value="http://localhost:7618" />
    <add key="PublicUrl" value="/p/{0}" />
    <add key="PrivateUrl" value="/?{0}" />
  </appSettings>

  <system.webServer>
    <rewrite>
      <rules>
        <rule name="sitemap" enabled="true">
          <match url="^sitemap\.xml$" />
          <action type="Rewrite" url="/Sitemap.ashx" />
        </rule>
        <rule name="No IE" enabled="true">
          <match url="^noIE$" />
          <action type="Rewrite" url="/noIE.html" />
        </rule>
        <rule name="Rewrite Html files" enabled="true">
          <match url="^p/(.*)$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="p/{R:1}.html" />
        </rule>
      </rules>
    </rewrite>
    
    <httpErrors errorMode="Custom">
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/404.aspx" responseMode="ExecuteURL" />
      <error statusCode="500" prefixLanguageFilePath="" path="/500.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>
