<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="default" connectionString="Server=127.0.0.1;Database=kiji;Uid=kiji;Pwd=134711;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="TemplateDumpPath" value="C:\inetpub\wwwroot\kiji_site\p" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BaseUrl" value="http://kiji.io" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Remove www" stopProcessing="true" xdt:Transform="InsertBefore(/configuration/system.webServer/rewrite/rules/rule)">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="www.kiji.io" />
          </conditions>
          <action type="Redirect" url="http://kiji.io/{R:0}" redirectType="Permanent" />
        </rule>
        <!--<rule name="Remove www" enabled="true" patternSyntax="Wildcard" stopProcessing="true"
              xdt:Transform="InsertBefore(/configuration/system.webServer/rewrite/rules/rule)">
          <match url="*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="kiji.io" negate="true" />
          </conditions>
          <action type="Redirect" url="http://kiji.io/{R:1}" redirectType="Permanent" />
        </rule>-->
      </rules>
    </rewrite>

    <caching xdt:Transform="Insert">
      <profiles>
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
      </profiles>
    </caching>
    <staticContent xdt:Transform="Insert">
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
  </system.webServer>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>